html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: Georgia, Verdana, sans-serif;
  font-size: 16px;
  color: #333;
}
main .content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
main .content .settings .browser {
  padding: 15px 0;
  width: 25%;
  float: left;
}
main .content textarea {
  resize: vertical;
  width: 100%;
  background: #eee;
  border: 1px solid #ddd;
}
